html {
  box-sizing: border-box;
  font-size: 62.5%; /* Un rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 2;
}
/* Globales */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}
h1 {
  font-size:  3.8rem;
}
@media (min-width: 768px) { 
  h1 {
    font-size: 5 rem;
  }
}

h2 {
  font-size: 3.2rem;
}
@media (min-width: 768px) { 
  h2 {
    font-size: 4 rem;
  }
}

h3 {
  font-size: 2.4rem;
}
@media (min-width: 768px) { 
  h3 {
    font-size: 3rem;
  }
}
  

a {
  text-decoration: none;
  color: #795548;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.btn {
  background-color: #c48426 ;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out;
  text-align: center;
  border: none       ;
}

.btn:hover {
    background-color: #dea450;
    cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* Utilidades*/
.text-center{
  text-align: center;
  color: #795548;

}

.text-center span {
  color: #c48426;   
}

.max-width-30 {
  max-width: 30rem;
}



/* Header y Navegación */
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #795548;
}

.nombre-sitio span {
  color: #c48426;
}
.contenedor-navegacion {
  border-top: 0.1rem solid #c48426;
}

.nav-principal {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/hero.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}
/* Categorias */
.categorias {
  color: #795548;
  padding-top: 5rem;
}


.categorias span{
  color: #c48426;
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}
.categoria a:hover {
  background-color: #c48426;
  color: #fff;
  border-bottom-right-radius: 1rem;
}
.listado-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Sobre Nosotros */

.sobre-nosotros {
  margin: 10rem 0;
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #795548 50%,
      #795548 100%
    ),
    url(../img/SobreNosotros1.jpg);
    background-position: center;
    padding:10rem 0;
    background-repeat: no-repeat;
    background-size: 100% 120rem;
    gap: 2rem;
}

.sobre-nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.texto-nosotros {
  flex-basis: 50%;
  color: #fff;
  grid-column: 2 / 3;
}

/* Listado de Productos */
.contenido-principal {
  padding-top: 5rem;

}
.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.producto:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);

}
.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
} 


.producto:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img
{
  height: 40rem;
  width: 100%;
  object-fit: cover;
} 



.producto:nth-child(3){
  grid-column-start: 4;
  grid-column-end: 7;
}



.producto:nth-child(4){
  grid-column-start: 1;
  grid-column-end: 3;
  object-fit: cover;
}

.producto:nth-child(5){
  grid-column-start: 3;
  grid-column-end: 5;
}

.producto:nth-child(6){
  grid-column-start: 5;
  grid-column-end: 7;
}


.producto {
  background-color: #795548;

}

.producto-extra {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}



.texto-producto {
  text-align: center;
  color: #fff;
  padding: 2rem;
}
.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 .5rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}


/* Footer */

.site-footer {
  border-top: 1px solid #c48426;
  margin-top: 5rem;
  padding: 5rem;
}

.site-footer h3 {
  margin-bottom: .5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-menu a {
  display: block;

}
.copyright {
  margin-top: 5rem;
  text-align: center;
  color: #c48426;

}

/* Nosotros */

.contenido-nosotros{
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  column-gap: 4rem;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.imagen {
  width: 100%;
  height: 60rem;
object-fit: cover;
}

/* Blog */

.contenedor-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.entrada {
  border-bottom: 2px solid #c48426;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border:none;
}

.entrada-meta {
  display: flex;
  justify-content: space-between;
}

.entrada-meta p {
  font-weight: bold;
}

.entrada-meta span {
 color: #e09f74;
}

.contenido-entrada-blog {
  width: 60rem;
  margin: 0 auto;
}

/* galeria */

.galeria {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

}
.galeria img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}

/* Formulario */

.formulario {
  max-width: 60rem;
  margin: 0 auto;
}
.formulario fieldset {
  border: 2px solid #c48426;
  margin-bottom: 2rem;
}

.formulario legend {
  background-color: #a8491d;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding:1rem;
  margin-bottom: 4rem;
}

.campo {
 display: flex;
 margin-bottom: 2rem;
}
.campo label {
 flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
  flex: 1;
  border: 1px solid #a8491d32;
  padding: 1rem;
}