/* Globales */

html {
	box-sizing: border-box;
	font-size: 62.5%; /* Un rem = 10px */

	body {
		font-family: "Montserrat", sans-serif;
		font-size: 1.6rem; /* 16px */
		line-height: 2;

		h1,
		h2,
		h3 {
			font-family: "Playfair Display", serif;
			margin: 0 0 2rem 0;
		}

		h1 {
			font-size:  3.8rem;
		}
		h2 {
			font-size: 3.2rem;
		}
		h3 {
			font-size: 2.4rem;
		}

		a {
			text-decoration: none;
			color: #795548;
	}



		.contenedor {
			max-width: 120rem;
			margin: 0 auto;
	}
	
	
	.btn {
			background-color: #cb7c2d ;
			display: block;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 1.8rem;
			padding: 1rem;
			transition: background-color .3s ease-out;
			text-align: center;
			border-radius: 2rem;
			width:100%; 
			border: none;
	}

	.max-width-30{
		width: 90%;
		margin: 0 auto;

	}
	
	.btn:hover {
					background-color: #dea450;
					cursor: pointer;
	}
	
	img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
	}
	/* Utilidades*/
	.text-center{
			text-align: center;
			color: #795548;
	}
	
	.text-center span {
			color: #c48426;   
	}
		// media queries globales
		@media (min-width: 768px) {
			/* Globales */
			h1 {
				font-size: 5rem;
			}	
			h2 {
				font-size: 4rem;
			}
			h3 {
				font-size: 3rem;
			}
			.max-width-30{
				width: 100%;
				margin: 0 auto;
		
			}
		}

	}
}

// Header y navegacion

.nombre-sitio {
	margin-top: 5rem;
	text-align: center;
	
}

.sitio-color {
	color:#795548;
}

h1 {
	font-size: 40px;
	color: #795548;
}

.nombre-sitio span {
	color: #c48426;
}
.contenedor-navegacion {
	border-top: 0.1rem solid #c48426;
}

.nav-principal {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero {
	background-image: url(../img/Hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 25rem;
}

// media queries Header	y navegacion

@media (min-width: 768px) { 
	.nav-principal {
			justify-content: space-between;
			flex-direction: row;
	}
	.hero {
		height: 55rem;
}
}

/* Categorias */
.categorias {
	padding: 5rem 0;
	color: #795548;
}

.categoria {
margin-bottom: 2rem;
}

.categoria img {
	width: 100%;
}


.categorias span{
	color: #c48426;
}

.categoria a {
	text-align: center;
	display: block;
	padding: 2rem;
	font-size: 2rem;
}
.categoria a:hover {
	background-color: #c48426;
	color: #fff;
	border-bottom-right-radius: 1rem;
}


// Categorias Media Queries	

@media (min-width: 768px) { 
	.categoria {
			margin-bottom: 0;
	}
	.listado-categorias {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
}
}

/* Sobre Nosotros */
.sobre-nosotros {
	margin: 10rem 0;
	background-image: linear-gradient(
					to bottom,
					transparent 50%,
					#795548 50%,
					#795548 100%
			),
			url(../img/SobreNosotros1.jpg);
			background-position: center, top left;
			background-repeat: no-repeat;
			background-size: 100%; 
	
}

.sobre-nosotros-grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.texto-nosotros {
	grid-row: 2 / 3;
	color: #fff;
	padding: 1rem;

}

// Media Queries Sobre Nosotros

@media (min-width: 768px) { 
	.sobre-nosotros {
			margin: 10rem 0;
			background-image: linear-gradient(
							to right,
							transparent 50%,
							#795548 50%,
							#795548 100%
					),
					url(../img/SobreNosotros1.jpg);
					background-position: left center;
					padding:10rem 0;
					background-repeat: no-repeat;
					background-size: 100%;
	}
	.sobre-nosotros-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: unset;
  column-gap: 4rem;
}
.texto-nosotros {
	grid-column: 2 / 3;
	}
}

/* Listado de Productos */
.contenido-principal {
	padding-top: 5rem;

}

.producto {
	background-color: #795548;
	margin-bottom: 2rem;
}


@media (min-width: 768px) { 
	.listado-productos {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 2rem;
	}
	
	.producto {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
	}

	.producto:nth-child(1){
			grid-column-start: 1;
			grid-column-end: 7;
			display: grid;
			grid-template-columns: repeat(3fr, 1fr);
	
	}
	.producto:nth-child(1) img {
			height: 43rem;
			width: 100%;
			object-fit: cover;
	} 
	
	
	.producto:nth-child(2){
			grid-column-start: 1;
			grid-column-end: 4;
	}
	
	.producto:nth-child(2) img,
	.producto:nth-child(3) img
	{
			height: 40rem;
			width: 100%;
			object-fit: cover;
	} 
	
	
	
	.producto:nth-child(3){
			grid-column-start: 4;
			grid-column-end: 7;
			
	}
	
	
	
	.producto:nth-child(4){
			grid-column-start: 1;
			grid-column-end: 3;
	}
	
	.producto:nth-child(5){
			grid-column-start: 3;
			grid-column-end: 5;
	}
	
	.producto:nth-child(6){
			grid-column-start: 5;
			grid-column-end: 7;
	}
	
	.producto:nth-child(4) img,
	.producto:nth-child(5) img,
	.producto:nth-child(6) img
	{
			height: 20rem;
			width: 100%;
			object-fit: cover;
	}
	
	.texto-producto{
			display: flex;
			flex-direction: column;
			flex-grow: 1;
	}

	.descripcion {
			flex-grow: 1;
	}
	
}

.producto {
	background-color: #795548;
	margin-bottom: 2rem;
}

@media (min-width: 768px) { 
 .producto {
  margin-bottom: 1rem;
 }
}



.texto-producto {
  text-align: center;
  color: #fff;
  padding: 2rem;
}


.texto-producto h3 {
  margin: 0; 
  
}

.texto-producto p {
  margin: 0 0 .5rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}

/* Footer */

.site-footer {
	border-top: 1px solid #c48426;
	margin-top: 5rem;
	padding: 5rem;
}



.site-footer h3 {
	margin-bottom: .5rem;
	text-align: center;
}

.grid-footer > div {
	margin-bottom: 2rem;
	color: #c48426;
}

.footer-menu a {
	display: block;
	text-align: center;
	
}

.copyright {
	margin-top: 5rem;
	text-align: center;
	color: #c48426;

}

@media (min-width: 768px) { 
	.site-footer h3 {
			text-align: left;
	}
	.grid-footer {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
	}
	.grid-footer > div {
		margin-bottom: 0;
}
.footer-menu a {
	text-align: left;
}
}


/* Nosotros */

.contenido-nosotros{
	display: grid;
	grid-template-columns: repeat(1, 2fr);
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	column-gap: 4rem;
}

.informacion-nosotros {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5rem;
}

.imagen {
	width: 100%;
	height: 60rem;
object-fit: cover;
}

@media (min-width: 768px) { 
	.informacion-nosotros {
			padding: 0;
	}

}
/* Blog */

.entrada {
	border-bottom: 2px solid #c48426;
	margin-bottom: 2rem;
	padding-bottom: 4rem;

	.entrada h2 {
		color: #795548;
	}
	.entrada-meta p {
		font-weight: bold;
	}
	
	.entrada-meta span {
	color: #e09f74;
	}

}
.masas {
	margin: 2rem;
	color: #795548;
}

.contenido-entrada-blog {
	width: 60rem;
	margin: 0 auto;
}

@media (max-width: 767px) { 
	.entrada h2 {
			text-align: center;
			color: #795548;
}
.contenido-blog {
	padding: 2rem;
}

.entrada:last-of-type {
	border:none;
}


}
@media (min-width: 768px) {
	.entrada-meta {
			display: flex;
			justify-content: space-between;
		}
				.contenedor-blog {
						grid-template-columns: repeat(2, 1fr);
						column-gap: 4rem;
				}
				.entrada h2 {
					color: #795548;
				}
			}

// Galeria

.galeria li {
  margin-bottom: 1rem;
}

.galeria li:last-of-type {
  margin-bottom: 0;
}

.galeria li:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* Formulario */

.formulario {
	max-width: 60rem;
	margin: 0 auto;
}
.formulario fieldset {
	border: 2px solid #c48426;
	margin-bottom: 2rem;
}

.formulario legend {
	background-color: #a8491d;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding:1rem;
	margin-bottom: 4rem;
}

.campo {
display: flex;
margin-bottom: 2rem;
}
.campo label {
flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
	flex: 1;
	border: 1px solid #a8491d32;
	padding: 1rem;
}