
.galeria {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;

		& li{
			margin: 0 auto;
		}
}
@media	(min-width: 768px) {
	.galeria {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
.galeria img {
		max-width: 30rem;
		height: auto;
		object-fit: cover;
}
