@use 'variables' as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
/* Header y Navegación */
.nombre-sitio {
	margin-top: 5rem;
	text-align: center;
	color: $base-color;
	& span {
		color: #c48426;
	}
}

.sitio-color {
	color: $base-color;
}

.contenedor-navegacion {
	border-top: 0.1rem solid #c48426;
}

.nav-principal {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	& li {
		list-style: none;

		&:hover	{
			transform: scale(1.2);
		}
	}
}

@media (min-width: 768px) { 
	.nav-principal {
			justify-content: space-between;
			flex-direction: row;
	}
}

.hero {
	background-image: url(../img/Hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 25rem;
}

@media (min-width: 768px) { 
	.hero {
			height: 55rem;
	}
}
	
