/* Blog */
@media (min-width: 768px) {
	.contenedor-blog {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
	}
	.entrada-meta {
		display: flex;
		justify-content: space-between;
	}
}
.entrada {
	border-bottom: 2px solid #c48426;
	margin-bottom: 2rem;
	padding-bottom: 4rem;
}
.masas {
	margin: 2rem;
}
.entrada-meta {
	p {
		font-weight: bold;
	}
	span {
		color: #e09f74;
	}
}
.contenido-entrada-blog {
	width: 60rem;
	margin: 0 auto;
}
@media (max-width: 767px) {
	.entrada {
		h2 {
			text-align: center;
		}
		&:last-of-type {
			border: none;
		}
	}
	.contenido-blog {
		padding: 2rem;
	}
}
